pgadmin/pgadmin4.db
pgadmin/sessions/fd007b7b-f1f2-4d0d-8020-5023e0efdd3f
Day00/ex03/__pycache__/lunch.cpython-310.pyc
pgadmin/var/lib/pgadmin/pgadmin4.db
Day00/ex04/__pycache__/lunch.cpython-310.pyc
pgadmin/var/lib/pgadmin/sessions/6078cfdb-1a97-4922-9863-8c58ca435bee
pgadmin/var/lib/pgadmin/sessions/e871343a-8c58-4632-a5d2-980086d79ab7
pgadmin/..